<%= form_with(model: joining_emp) do |form| %>
  <% if joining_emp.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(joining_emp.errors.count, "error") %> prohibited this joining_emp from being saved:</h2>

      <ul>
        <% joining_emp.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

   <div>
    <%= form.select :employees_id, style: "display: block" %>
    <%= form.text_field :employees_name %>
  </div>

  <div>
    <%= form.select :departments_id, style: "display: block" %>
    <%= form.text_field :departments_name %>
  </div>

  <div>
    <%= form.select :shift_time_id, style: "display: block" %>
    <%= form.text_field :shift_time_id %>
  </div>


  <div>
    <%= form.label :salary, style: "display: block" %>
    <%= form.text_field :salary %>
  </div>

  <div>
    <%= form.label :start_date, style: "display: block" %>
    <%= form.date_field :start_date %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
