<div id="<%= dom_id joining_emp %>">
  <p>
    <strong>Employees:</strong>
    <%= joining_emp.employees_id %>
  </p>

  <p>
    <strong>Departments:</strong>
    <%= joining_emp.departments_id %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= joining_emp.salary %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= joining_emp.start_date %>
  </p>

</div>
