<div id="<%= dom_id joining_emp %>">
  <p>
    <strong>Employees:</strong>
    <%= joining_emp.employees_name %>
  </p>

  <p>
    <strong>Departments:</strong>
    <%= joining_emp.departments_name %>
  </p>

  <p>
    <strong>Shift Time:</strong>
    <%= joining_emp.shift_time_name %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= joining_emp.salary %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= joining_emp.start_date %>
  </p>

</div>
