<p style="color: green"><%= notice %></p>

<%= render @joining_emp %>

<div>
  <%= link_to "Edit this joining emp", edit_joining_emp_path(@joining_emp) %> |
  <%= link_to "Back to joining emps", joining_emps_path %>

  <%= button_to "Destroy this joining emp", @joining_emp, method: :delete %>
</div>
