<div id="<%= dom_id leave_emp %>">
  <p>
    <strong>Employees:</strong>
    <%= leave_emp.employees_id %>
  </p>

  <p>
    <strong>Departments:</strong>
    <%= leave_emp.departments_id %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= leave_emp.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= leave_emp.end_date %>
  </p>

  <p>
    <strong>Total days:</strong>
    <%= leave_emp.total_days %>
  </p>

  <p>
    <strong>Leave reason:</strong>
    <%= leave_emp.leave_reason %>
  </p>

</div>
