<div id="<%= dom_id employee %>">
<table class="table ">
  <thead>
    <tr>
      <th><strong>First Name:</strong></th>
      <th><strong>Last Name:</strong></th>
      <th><strong>Email:</strong></th>
      <th><strong>Mobile:</strong></th>
      <th><strong>Address:</strong></th>
      <th><strong>Aadharcard:</strong></th>
      <th><strong>Pancard:</strong></th>
      <th><strong>Village:</strong></th>
      <th><strong>City:</strong></th>
      <th><strong>State:</strong></th>
      <th><strong>Edit</strong></th>
      <th><strong>Delete</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= employee.first_name %></td>
      <td><%= employee.last_name %> </td>
      <td><%= employee.email %> </td>
      <td><%= employee.mobile %> </td>
      <td><%= employee.address %> </td>
      <td><%= employee.aadharcard %> </td>
      <td><%= employee.pancard %> </td>
      <td><%= employee.village %> </td>
      <td><%= employee.city %> </td>
      <td><%= employee.state %> </td>
    </tr>
  </tbody>
  </table>
</div>
