<div id="<%= dom_id emp_travel_expenditure %>">
  <p>
    <strong>Employees:</strong>
    <%= emp_travel_expenditure.employees_id %>
  </p>

  <p>
    <strong>Departments:</strong>
    <%= emp_travel_expenditure.departments_id %>
  </p>

  <p>
    <strong>Travel from:</strong>
    <%= emp_travel_expenditure.travel_from %>
  </p>

  <p>
    <strong>Travel to:</strong>
    <%= emp_travel_expenditure.travel_to %>
  </p>

  <p>
    <strong>On date:</strong>
    <%= emp_travel_expenditure.on_date %>
  </p>

  <p>
    <strong>From date:</strong>
    <%= emp_travel_expenditure.from_date %>
  </p>

  <p>
    <strong>To date:</strong>
    <%= emp_travel_expenditure.to_date %>
  </p>

  <p>
    <strong>Reason for travel:</strong>
    <%= emp_travel_expenditure.reason_for_travel %>
  </p>

  <p>
    <strong>Mode of transportation:</strong>
    <%= emp_travel_expenditure.mode_of_transportation %>
  </p>

  <p>
    <strong>Bill number:</strong>
    <%= emp_travel_expenditure.bill_number %>
  </p>

  <p>
    <strong>Paid amt:</strong>
    <%= emp_travel_expenditure.paid_amt %>
  </p>

</div>
