<div id="<%= dom_id emp_travel %>">
  <p>
    <strong>Employees:</strong>
    <%= emp_travel.employees_id %>
  </p>

  <p>
    <strong>Departments:</strong>
    <%= emp_travel.departments_id %>
  </p>

  <p>
    <strong>Travel from:</strong>
    <%= emp_travel.travel_from %>
  </p>

  <p>
    <strong>Travel to:</strong>
    <%= emp_travel.travel_to %>
  </p>

  <p>
    <strong>On date:</strong>
    <%= emp_travel.on_date %>
  </p>

  <p>
    <strong>From date:</strong>
    <%= emp_travel.from_date %>
  </p>

  <p>
    <strong>To date:</strong>
    <%= emp_travel.to_date %>
  </p>

  <p>
    <strong>Reason for travel:</strong>
    <%= emp_travel.reason_for_travel %>
  </p>

</div>
