<%= form_with(model: salary) do |form| %>
  <% if salary.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(salary.errors.count, "error") %> prohibited this salary from being saved:</h2>

      <ul>
        <% salary.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :basic, style: "display: block" %>
    <%= form.number_field :basic %>
  </div>

  <div>
    <%= form.label :da, style: "display: block" %>
    <%= form.number_field :da %>
  </div>

  <div>
    <%= form.label :hra, style: "display: block" %>
    <%= form.number_field :hra %>
  </div>

  <div>
    <%= form.label :pf, style: "display: block" %>
    <%= form.number_field :pf %>
  </div>

  <div>
    <%= form.label :total, style: "display: block" %>
    <%= form.number_field :total %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
