<div id="<%= dom_id salary %>">
  <p>
    <strong>Basic:</strong>
    <%= salary.basic %>
  </p>

  <p>
    <strong>Da:</strong>
    <%= salary.da %>
  </p>

  <p>
    <strong>Hra:</strong>
    <%= salary.hra %>
  </p>

  <p>
    <strong>Pf:</strong>
    <%= salary.pf %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= salary.total %>
  </p>

</div>
