<div id="<%= dom_id attendence %>">
  <p>
    <strong>Employees:</strong>
    <%= attendence.employees_id %>
  </p>

  <p>
    <strong>Departments:</strong>
    <%= attendence.departments_id %>
  </p>

  <p>
    <strong>In time:</strong>
    <%= attendence.in_time %>
  </p>

  <p>
    <strong>Out time:</strong>
    <%= attendence.out_time %>
  </p>

</div>
